body {
    background: black;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: white;
    min-height: 100vh;
}


header {
    border-bottom: thin solid;
}

h1 {
    font-size: 30px;
    letter-spacing: 3px;
}

h2 {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.2px;
    color: rgb(102, 102, 102);
}

h3 {
    font-size: 2rem;
    line-height: 1.3rem;
}

.content {
    line-height: 24px;
    letter-spacing: 1.6px;
}

.img-container {
    aspect-ratio: 4/3;
    width: 100%;

    @media(min-width: 768px) {
        max-width: 400px
    }
}

.calendar-container {
    @media(max-width: 768px) {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

iframe {
    width: 600px;
    height: 400px;

    @media(min-width: 992px){
        width: 800px;
        height: 500px;
    }
}


footer {
    border-top: thin solid;
    font-size: 14px;
    font-weight: 700;
    letter-spacing:  1.4px;
}
